* {
  box-sizing: border-box;
  margin: 20 px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightgray;
}

article {
  background-color: white;
  margin: 20px;
  /* border: solid white 1px; */
  border-radius: 20px;
}

img {
  border-radius: 20px;
  margin: 20px;
}

h2 {
  text-transform: uppercase;
  margin: 20px;
}

p {
  margin: 20px;
}

.myaccount {
  color: gray;
}

button {
  margin: 20px;
  color: rgb(46, 170, 241);
}
